<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/services/add/submit" method="post">
        <h1>서비스 등록</h1>
        서비스 이름 <br>
        <input type="text" name="name"><br>
        id <br>
        <input type="text" name="id"><br>
        제작자 <br>
        <input type="text" name="producer"><br>
        링크 <br>
        <input type="text" name="link"><br>
        투표수 <br>
        <input type="text" name="votes"><br>
        랭크 <br>
        <input type="text" name="rank"><br>
        <input type="submit" value="서비스 추가">
    </form>
    <a href="list">목록</a>
</body>
</html>