<html lang="en" class="h-100">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100">
    <h2>로그인 페이지</h2>
    <form action="/users/login" method="post">
      <input type="text" name="email">
      <input type="password" name="password">
      <input type="submit" value="로그인">
  </form>
  <a href="new-user">회원가입</a>
  </body>
</html>
