<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/new-user/submit" method="post">
        <h1>회원가입</h1>
        이름<br>
        <input type="text" name="name"><br>
        이메일<br>
        <input type="text" name="email"><br>
        비밀번호<br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="가입하기">
    </form>
</body>
</html>