<html lang="en" class="h-100">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column h-100">
    <h1>우당당탕 개발대회</h1>
    <p>우당탕탕 개발대회 투표해주세요!</p>
    <a href="/users">로그인</a>
    <a href="/users/new-user">회원가입</a>
  
  </body>
</html>
