<html lang="en" class="h-100">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/loginStyle.css">
  </head>
  <body class="text-center ">
    <main class="form-signin w-100 m-auto">
        <img class="mb-4" src="/images/elice_logo.png" alt="" width="180" height="57">
        <h1 class="h2 mb-4 fw-normal">Please log in</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="mb-4 form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="mb-4 w-100 btn btn-lg btn-primary" >continue</button>
        <p class="mb-4 h6">Or</p>
        <button class="w-100  btn-github btn-lg btn-primary" onclick="github()">
          <img src="/images/GitHub-Mark-Light-32px.png" alt="">
          <span>깃허브 로그인 →</span>
        </button>
    </main>
    <script>
      function github() {
        fetch('/login',{
        method:"POST",
        })
      }
      
    </script>
  </body>
</html>
